.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#emoji {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 30%;
}

#emoji td,
#emoji th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tablesContainer {
  display: flex !important;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

#emoji tr:nth-child(even) {
  background-color: #f2f2f2;
}

#emoji tr:hover {
  background-color: #ddd;
}

#emoji th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00b5ad;
  color: white;
}
