#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#emoji {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 30%;
}

#emoji td,
#emoji th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tablesContainer {
  display: flex !important;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

#emoji tr:nth-child(even) {
  background-color: #f2f2f2;
}

#emoji tr:hover {
  background-color: #ddd;
}

#emoji th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00b5ad;
  color: white;
}
